.calc-button {
    text-align: center;
    color: #14a1a1;
    font-weight: bold;
    font-size: 20px;
    border: 1px solid dimgray;
    border-radius: 7px;
    margin: 2px;
    background: #2a2a2a;
    user-select: none;
}

.calc-button:hover {
    background: #212121;
}

.calc-button:active {
    background: #111111;
    margin: 3px;
    font-style: italic;
    font-size: 19px;
}